    * {
      box-sizing: border-box;  
       }
    body {

      height: auto;  
      padding:5px;
      margin: 5px;   
      overflow: hidden;  /* No Scroll bars */
      font-size: 25px; /*Body font size*/
      line-height: 0.5;
      color: brown; /* Body font color */
      background-image: url(cupcake_background.jpg); /* Background image*/
      font-family: "Brush Script MT",cursive; /*Font type*/  
      background-repeat: no-repeat; /*Continous Background*/
      background-position: center;  /* Centered Background*/
      background-attachment: fixed; /* Fixed*/
      background-size: 1100px 800px; 
      background-color:sienna; /*Background color*/
     
    }
    .text{  /*Content settings*/
      position: relative;
      font-size: 30px;
      left: 250px;
      bottom: 250px;
    }


    div.main-content nav{ /*Navigation bar settings*/
      list-style: none;
      margin: 0;
      padding: 1px;
      font-size: 10px;
      text-align: center;
    }
    .nav li {
      display: inline;

    }
    .nav a:link{
      display: inline;
      padding: 5px;
      width: 100px;
      color: brown;
      background-color: white;
      border-right:2px solid white;
    }
    .nav a:hover{
      background-color: sandybrown;
      font-family: 200%;
    }
        }
       div.image1{ /* Image settings*/
          margin: 2px;
          padding: 5px;
        }
        div.image1 img{
          display: inline;
         height: 220px;
          width: 200px;
          margin: 10px;
          border: 1px solid lightsalmon;
          position: absolute;
          right: 40px;
          top: 30px;        
        }
        div.image1 a:hover img{
          border : 5px solid black;
        }
        div.image2{  /* Image settings*/
          margin:2px;
          padding: 5px;
        }
        div.image2 img{
          display: inline;
        height: 220px;
          width: 200px;
          margin: 10px;
          border: 1px solid lightsalmon;
          position: absolute;
          right:80px;
          bottom:60px;

          
        }
        div.image2 a:hover img{
          border : 5px solid black;
        }

        div.image3 img{ /* Image settings*/
          display: inline;
          height: 220px;
          width: 200px;
          margin: 10px;
          border: 1px solid lightsalmon;
          position: absolute;
          right: 250px;
          top: 30px;
          
        }
        div.image3 a:hover img{
          border : 5px solid black;
        }

    form { /* Search bar settings*/
      width: 1500px;
      margin: 50px auto;
     
      top: 100px;
    }

    #googleMap{ /* Google maps settings*/
      height: 100%;
      bottom:20px;

      position: absolute;
    }


    .recipie-title1{   /* Text settings*/
      position: relative;
      left: 870px;
      bottom: 255px;
    }


    .recipie-title2{
     position: relative;
      left: 1070px;
      bottom:300px;
    }

    .recipie-title3{
      position: relative;
      left: 1000px;
      bottom: 50px;
    }
    .button1{ /* Button settings*/
      position: relative;
      left:1070px;
      bottom:660px;
      border-radius: 4px;
      background-color: brown;
      border:none;
      color:black;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      width: 200px;
      cursor: pointer;
      margin: 5px;
    }
    .button1 span{
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
    .button1 span:after{
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
    }

    .button1:hover span {
      padding-right: 25px;
    }

    .button1:hover span:after {
      opacity: 1;
      right: 0;
    }

    .button2
    {
      position: relative;
      left:625px;
      bottom: 660px;
      border-radius: 4px;
      background-color: brown;
      border:none;
      color:black;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      width: 200px;
      cursor: pointer;
      margin: 5px;

    }
    .button2 span{
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
    .button2 span:after{
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
    }

    .button2:hover span {
      padding-right: 25px;
    }

    .button2:hover span:after {
      opacity: 1;
      right: 0;
    }


    .button3
    {
      position: relative;
      left:580px;
      bottom:350px;
      border-radius: 4px;
      background-color: brown;
      border:none;
      color:black;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      width: 200px;
      cursor: pointer;
      margin: 5px;

    }
    .button3 span{
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
    .button3 span:after{
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
    }

    .button3:hover span {
      padding-right: 25px;
    }

    .button3:hover span:after {
      opacity: 1;
      right: 0;
    }
