* {
  box-sizing: border-box; }

body {

  width: 100%;
  padding: 0;
  margin: 10px;
  resize: horizontal;
  overflow: auto;
  font-size: 20px;
  line-height: 0.5;
  color: lightsalmon;
  background-image: url(cupcake_background.jpg);
  font-family: "Brush Script MT",cursive;

  
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1100px 800px; 
  background-color: beige;
 
}


}

div.content{
  right: 50px;
}
div.main-content nav{


  
  list-style: none;
  margin: 0;
  padding: 1px;
  font-size: 12px;
  text-align: center;
}
.nav li {
  display: inline;

}


.nav a:link{
  display: inline;
  padding: 5px;
  width: 100px;
  color: lightsalmon;
  background-color: beige;
  border-right:2px solid white;
}

.nav a:hover{
  background-color: lightsalmon;
  font-family: 200%;
}

    }

    div.image1{
      margin: 5px;
      padding: 5px;

    }
    div.image1 img{
      display: inline;
       height: 250px;
      width: 200px;
      margin: 10px;
      border: 1px solid lightsalmon;
      position: absolute;
      right: 60px;
      top: 50px;
      
    }
    div.image1 a:hover img{
      border : 2px solid black;
    }


    div.image2{
      margin: 5px;
      padding: 5px;

    }
    div.image2 img{
      display: inline;
       height: 250px;
      width: 200px;
      margin: 10px;
      border: 1px solid lightsalmon;
      position: absolute;
      right: 300px;
      top: 50px;
      
    }
    div.image2 a:hover img{
      border : 2px solid black;
    }

    div.image3 img{
      display: inline;
       height: 250px;
      width: 200px;
      margin: 10px;
      border: 1px solid lightsalmon;
      position: absolute;
      right: 550px;
      top: 50px;
      
    }
    div.image3 a:hover img{
      border : 2px solid black;
    }

form {
  width: 1500px;
  margin: 50px auto;
 
  top: 100px;
}

script{
  position: relative;
  width: 1000px;
  
}